/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  font-size: 14px;
  font-family: Helvetica, arial, sans-serif;
}

button {
  cursor: pointer;
}

.demo {
  width: 300px;
  height: 200px;
  margin: 30px auto;
}

.type-1 {
  position: relative;
}
.type-1:hover .tooltip-1 {
  display: block;
}
.tooltip-1 {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
  text-align: center;
  word-wrap: break-word;
  padding: 5px 8px;
  white-space: pre;
  z-index: 10000;
  left: 0;
  margin: 10px 0 0 -30px;
  display: none;
}
.tooltip-1:before {
  position: absolute;
  z-index: 10001;
  width: 0;
  height: 0;
  color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  content: "";
  border: 5px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.8);
  top: 0px !important;
  margin-top: -10px;
}

.tooltipped-c:before, .tooltipped-l:before, .tooltipped-r:before {
  top: auto;
  right: 50%;
  bottom: -5px;
  margin-right: -5px;
}
.tooltipped-c:after, .tooltipped-l:after, .tooltipped-r:after {
  top: 100%;
  right: 50%;
  margin-top: 5px;
}

.tooltipped-c:after {
  -moz-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.tooltipped-l:after {
  right: auto;
  left: 50%;
  margin-left: -15px;
}

.tooltipped {
  position: relative;
}
.tooltipped:before {
  position: absolute;
  z-index: 10001;
  display: none;
  width: 0;
  height: 0;
  color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
  content: "";
  border: 5px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.8);
}
.tooltipped:after {
  content: attr(aria-label);
  position: absolute;
  z-index: 10000;
  display: none;
  padding: 5px 8px;
  font: normal normal 13px/1.5 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  pointer-events: none;
  word-wrap: break-word;
  white-space: pre;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-font-smoothing: subpixel-antialiased;
}
.tooltipped:hover::before, .tooltipped:hover::after {
  display: block;
}

/*# sourceMappingURL=screen.css.map */
